@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.over {
  background: #f6f6f6;
  font-family: 'Roboto';
}

.main {
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
}
.main .posts {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.container {
  width: 100%;
}

.main .images img {
  width: 200px;
  height: 200px;
  border-radius: 12px;
}

.container .posts button {
  background-color: #28a4da;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  height: 40px;
  width: 193px;
  padding: 3px;
  margin: 17px;
  margin-right: 0px;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 20px;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.pagination .active {
  font-weight: bold;
}

.dashboard {
  max-height: 1080px;
}
