@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.fullscreen {
  background-color: #009ddf;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullscreen .logIn h2 {
  color: #28a4da;
  background-color: white;
}

form {
  padding: 20px;
}

.fullscreen .logIn {
  background-color: white;
  width: 500px;
  height: 500px;
  border-radius: 5%;
  width: 480px;
  height: 400px;
}

.fullscreen .logIn .input {
  margin: 10px;
  padding: 20px;
  flex-direction: column;
  background-color: white;
}

.fullscreen .logIn .input input {
  margin: 10px;
  width: 340px;
  height: 44px;
  border-radius: 13px;
  border: 1.5px solid #6ad5ed;
  padding-left: 15px;
  border-color: #6ad5ed;
}

.fullscreen .logIn .input input:active {
  border-color: #6ad5ed;
}

.fullscreen .logIn .upBtn input[type='submit'] {
  background-color: #009ddf;
  color: white;
  font-weight: bold;
  width: 196px;
  height: 39px;
  border-radius: 13px;
  border: 0px solid #6ad5ed;
  padding: 12px 20px;
  cursor: pointer;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

.fullscreen .logIn p {
  font-weight: 500;
  background-color: white;
}

.fullscreen .logIn p a {
  color: #009ddf;
  cursor: pointer;
  background-color: white;
}

.email1 {
  display: flex;
  justify-content: flex-start;
}

.invalid {
  border-color: red;
  background-color: rgb(255, 177, 177);
  color: #ad1111;
  margin: 0;
}

.error {
  color: #e20505;
  font-family: 'Roboto';
  font-size: 13px;
}

.notFound {
  color: #e20505;
  font-family: 'Roboto';
  font-size: 12px;
}

.found {
  visibility: hidden;
  font-size: 0px;
}
