.fullscreen {
  background-color: #009ddf;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullscreen .signUp h2 {
  color: #28a4da;
  margin: 30px;
  display: inline-block;
  justify-content: center;
  width: fit-content;
}

form {
  padding: 20px;
}

.fullscreen .signUp {
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 500px;
  border-radius: 5%;
  width: 781px;
  height: 622px;
  margin: 30px;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;

  margin-top: 0px;
}

.fullscreen .signUp img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.fullscreen .signUp .input {
  margin: 10px;
  padding: 20px;
  height: 250px;
}

.fullscreen .signUp .input input {
  margin: 10px;
  width: 340px;
  height: 44px;
  border-radius: 13px;
  border: 1.5px solid #6ad5ed;
  padding-left: 15px;
  border-color: #6ad5ed;
}

.fullscreen .signUp .input input:active {
  border-color: #6ad5ed;
}

.fullscreen .signUp .upBtn input[type='submit'] {
  background-color: #009ddf;
  color: white;
  font-weight: bold;
  width: 196px;
  height: 39px;
  border-radius: 13px;
  border: 0px solid #6ad5ed;
  padding: 12px 20px;
  cursor: pointer;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

.fullscreen .signUp p {
  font-weight: 500;
}

.fullscreen .signUp p a {
  color: #009ddf;
  cursor: pointer;
}

.email1 {
  display: flex;
  justify-content: flex-start;
}

.nameInvalid {
  color: red;
}

.imgWrapper {
  display: flex;
  justify-content: center;
}

.fullscreen .signUp p {
  display: flex;
  justify-content: center;
}

input[type='file'] {
  display: none;
}

.choosePic {
  cursor: pointer;
}

.invalid {
  border-color: red;
  background-color: rgb(255, 224, 224);
  color: #8a0000;
}

.errorMessage {
  display: flex;
  padding-right: 40px;
  font-size: 12px;
  margin: 0px;
  margin-bottom: 0px;
  text-align: left;
  color: #d00202;
}
.inputs {
  display: flex;
  flex-direction: row;
}

.email1 {
  display: flex;
  flex-direction: row;
}

.setting {
  margin-right: 360px;
  color: #d00202;
}

.passValid {
  visibility: hidden;
  height: 0px;
}

.passInvalid {
  text-align: left;
  color: #d00202;
  font-size: 12px;
  height: 0px;
}

.pass {
  height: 0px;
}

.error {
  margin: 0px;
}
